a, button {
  text-decoration: none;
  color: white;
  font-family: Shentox, Rogan, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 600;
  font-size: 15px;
}
a.mat-menu-item {
   color: black;
 }
a:hover, button:hover {
  color: rgb(127, 137, 145);
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
mat-toolbar{
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 111px;
  margin-bottom: 40px;
}

.mat-button {
  color: white;
  font-family: Shentox, Rogan, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 600;
  font-size: 15px;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}

.logo {
  font-size: 30px;
}
