[Service]
WorkingDirectory=/opt/eve
ExecStart=/opt/eve/angular.jar
Restart=always
StandardOutput=/var/log/eve/angular.log
StandardError=/var/log/eve/angular_error.log
SyslogIdentifier=angular-app
User=eve
Group=eve
Environment=NODE_ENV=production
[Install]
WantedBy=multi-user.target
