[Service]
WorkingDirectory=/opt/eve
ExecStart=/opt/eve/calculator.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=calculator-app
User=eve
Group=eve
Environment=NODE_ENV=production
[Install]
WantedBy=multi-user.target
