[Service]
WorkingDirectory=/opt/eve
ExecStart=/opt/eve/runAll.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=eve-tools-app
User=eve
Group=eve
Environment=NODE_ENV=production
[Install]
WantedBy=multi-user.target
