<div class="row">
  <p>
    When you build and sell your own items in EVE, there are a lot of things to consider.
    The profit you can make on an item can be calculated but requres a lot of different calculations with a lot of
    variables to consider.
    The idea behind EVE-MBS is to handle all those calculations.
    To that end, the tool requires you to login using the EVE signin service. After login and selecting your character,
    the tool can scan you inventory for blueprints. When it knows which blueprints you have available, it scans the
    market for the current sell prices on ores.
    Per blueprint it now calculates how much ore is needed, what the income would be if you would just sell those ores,
    and how much you could make from selling the item itself.
    This will result in a listing of all your blueprints ordered by profit margin.
  </p>
</div>
