# Project exclude paths
target/
/universe/src/main/json/
/user/src/main/json
/assets/src/main/json/
dist/
node_modules/
node/

# IDE exclude paths
/.idea/
.iml
/angular/angular.iml
/deployment/deployment.iml
/MineBuildSell.iml
/venv/
