<div *ngIf="fleet; else loading">
  <div class="form-group">
    <label for="name">Name:</label>
    <span *ngIf="editable()">
      <input type="text" class="form-control" id="name" [(ngModel)]="fleet.name"/>
    </span>
    <span *ngIf="!editable()">
      {{fleet.name}}
    </span>
  </div>
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <span *ngIf="editable()">
    <div class="input-group">
      <input type="text" ngbDatepicker #s="ngbDatepicker" [(ngModel)]="startDate" class="form-control" id="startDate"
             readonly/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="s.toggle()" type="button"
                [disabled]="!editable()"></button>
      </div>
    </div>
    </span>
    <span *ngIf="!editable()">
      {{startDate.month}}-{{startDate.day}}-{{startDate.year}}
    </span>
  </div>
  <div class="form-group">
    <label for="startTime">Start Time</label>
    <span *ngIf="editable()">
    <div class="input-group">
      <ngb-timepicker [(ngModel)]="startTime" id="startTime" [minuteStep]="15" [disabled]="!editable()"
                      [spinners]="editable()"></ngb-timepicker>
    </div>
    </span>
    <span *ngIf="!editable()">
      {{startTime.hour}}:{{startTime.minute}}
    </span>
  </div>
  <div class="form-group">
    <label for="duration">Duration</label>
    <span *ngIf="editable()">
    <div class="input-group">
      <select class="custom-select custom-select-sm" id="duration" [(ngModel)]="fleet.duration"
              [disabled]="!editable()">
        <option value="0">Not specified</option>
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
        <option value="4">4 hours</option>
        <option value="5">5 hours</option>
        <option value="6">6 hours</option>
        <option value="7">7 hours</option>
        <option value="8">8 hours</option>
        <option value="9">9 hours</option>
        <option value="10">10 hours</option>
        <option value="11">11 hours</option>
        <option value="12">12 hours</option>
        <option value="13">13 hours</option>
        <option value="14">14 hours</option>
        <option value="15">15 hours</option>
        <option value="16">16 hours</option>
        <option value="17">17 hours</option>
        <option value="18">18 hours</option>
        <option value="19">19 hours</option>
        <option value="20">20 hours</option>
        <option value="21">21 hours</option>
        <option value="22">22 hours</option>
        <option value="23">23 hours</option>
        <option value="24">24 hours</option>
      </select>
    </div>
    </span>
    <span *ngIf="!editable()">
      {{fleet.duration > 0 ? fleet.duration : 'Not Specified'}}
    </span>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Corporation Restricted</legend>
      <span *ngIf="editable()">
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="corporationRestricted" id="corporationRestrictedYes"
                     value="true" checked [(ngModel)]="corporationRestricted" [disabled]="!editable()"/>
              <label class="form-check-label" for="corporationRestrictedYes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="corporationRestricted" id="corporationRestrictedNo"
                     value="false" [(ngModel)]="corporationRestricted" [disabled]="!editable()"/>
              <label class="form-check-label" for="corporationRestrictedNo">
                No
              </label>
            </div>
          </div>
        </span>
      <span *ngIf="!editable()">
          {{corporationRestricted === 'true' ? 'Yes' : 'No'}}
        </span>
    </div>
  </fieldset>
  <div class="form-group" *ngIf="editable() && corporationRestricted === 'true'">
    <fieldset class="form-group">
      <div class="row">
        <label for="inviteText">Invitation text</label>
        <textarea class="form-control" id="inviteText" [(ngModel)]="fleet.inviteText"></textarea>
      </div>
    </fieldset>
  </div>
  <div class="form-group" *ngIf="owner()">
    <label for="name">Invites:</label>
    <div *ngIf="invitations">
      <div class="list-group list-group-flush">
        <div *ngFor="let invitation of invitations" class="list-group-item">
          {{getInviteeIcon(invitation)}}
          <img [src]="invitation.icon" alt="invitee icon"/>
          {{invitation.name}}
          <button class="btn" (click)="deleteInvitation(invitation)" *ngIf="owner()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="owner()">
    <label for="name">Registrations:</label>
    <div *ngIf="registrations">
      <div class="list-group list-group-flush">
        <div *ngFor="let registration of registrations" class="list-group-item">
          {{getRegistrationIcon(registration)}}
          <img [src]="registration.icon" alt="invitee icon"/>
          {{registration.name}}
          <button class="btn" (click)="deleteRegistration(registration)" *ngIf="registrant(registration)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="editable()">
    <div *ngIf="!savingFleet">
      <button type="button" class="btn btn-primary" (click)="doSaveFleet()" [disabled]="!validateInput()">Save Fleet
      </button>
    </div>
    <div *ngIf="savingFleet">
      <p>Saving the fleet and sending out invitations. This may take some time depending on the number of
        invitations.</p>
    </div>
  </div>
  <div class="form-group" *ngIf="!editable() && owner()">
    <button type="button" class="btn btn-primary" (click)="doEditFleet()">Edit Fleet</button>
    <button type="button" class="btn btn-primary" (click)="open(content)">Delete Fleet</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="deleteConfirmLabel">Confirm Fleet Deletion</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to permanently delete fleet {{fleet.name}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Delete')">Confirm Delete</button>
  </div>
</ng-template>

<ng-template #loading>
  Loading fleet...
</ng-template>
