<div class="row">
  <div *ngIf="bp; else loading">
    <h1>{{bp.name}} details</h1>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Material Efficiency</th>
        <td>{{bp.materialEfficiency}}</td>
      </tr>
      </tbody>
    </table>
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-outline-primary" (click)="isCalculateCollapsed = !isCalculateCollapsed"
                [attr.aria-expanded]="!isCalculateCollapsed" aria-controls="collapseCalculate">
          Calculate
        </button>
      </div>
      <div class="card-body" id="collapseCalculate" [ngbCollapse]="isCalculateCollapsed">
        <h5 class="card-title">Calculate prices</h5>
        <p class="card-text">Calculate the various prices for the selected blueprint to determine profitability</p>
        <form [formGroup]="form">
          <div class="form-group row">
            <label for="nrRuns" class="col-form-label">Runs</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="nrRuns" id="nrRuns">
            </div>
          </div>
          <div class="form-group row">
            <label for="buyMarketHubs" class="col-form-label">Buy Market Hub</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="buyMarketHubs" id="buyMarketHubs">
                <option *ngFor="let order of marketHubs; let i = index"
                        [value]="marketHubs[i].id">{{marketHubs[i].solarSystemName}} ({{marketHubs[i].regionName}})
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="sellMarketHubs" class="col-form-label">Sell Market Hub</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="sellMarketHubs" id="sellMarketHubs">
                <option *ngFor="let order of marketHubs; let i = index"
                        [value]="marketHubs[i].id">{{marketHubs[i].solarSystemName}} ({{marketHubs[i].regionName}})
                </option>
              </select>
            </div>
          </div>
        </form>
        <button type="button" (click)="calculate()" [disabled]="isCalculating"
                [ngClass]="calculateClass()">{{calculateButtonText()}}</button>
        <div class="card-body" *ngIf="isCalculated">
          <h5>Calculation Results for {{bp.item.name}}</h5>
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">Material Buy Price</th>
              <td>
                <div *ngIf="bp.mineralBuyPrice >= 0; else nodata">{{bp.mineralBuyPrice | number:'.2':'is' }}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Material Sell Price</th>
              <td>
                <div *ngIf="bp.mineralSellPrice >= 0; else nodata">{{bp.mineralSellPrice | number:'.2':'is' }}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Item Buy Price</th>
              <td>
                <div *ngIf="bp.item.buyPrice >= 0; else nodata">{{bp.item.buyPrice | number:'.2':'is' }}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Item Sell Price</th>
              <td>
                <div *ngIf="bp.item.sellPrice >= 0; else nodata">{{bp.item.sellPrice | number:'.2':'is' }}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Job Installation Costs</th>
              <td>
                <div
                  *ngIf="bp.jobInstallationCosts >= 0; else nodata">{{bp.jobInstallationCosts | number:'.2':'is' }}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Broker Fee</th>
              <td>
                <div *ngIf="bp.item.brokerFee >= 0; else nodata">{{bp.item.brokerFee | number:'.2':'is' }}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">Sales Tax</th>
              <td>
                <div *ngIf="bp.item.salesTax >= 0; else nodata">{{bp.item.salesTax | number:'.2':'is' }}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    Loading blueprint...
  </ng-template>

  <ng-template #nodata>
    Insufficient data
  </ng-template>
</div>
