<section fxLayout="column" fxFlexAlign="stretch">
  <app-sub-header [subTitle]="subTitle"></app-sub-header>
  <div fxLayout="row" class="content" fxFlexAlign="left" *ngIf="fleetForm; else loading">
    <form class="form" [formGroup]="fleetForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name
          <mat-icon matSuffix>priority_high</mat-icon>
        </mat-label>
        <input matInput formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Start
          <mat-icon matSuffix>priority_high</mat-icon>
        </mat-label>
        <input matInput [ngxMatDatetimePicker]="picker" (dateChange)="cleanDate()" formControlName="start">
        <button mat-icon-button matSuffix (click)="picker.open(); $event.stopPropagation();">
          <mat-icon svgIcon="icon-calendar"></mat-icon>
        </button>
        <ngx-mat-datetime-picker #picker [touchUi]="true" [showSeconds]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fleet type</mat-label>
        <mat-select [compareWith]="compareType" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <section appearance="fill" class="full-width">
        <mat-slide-toggle formControlName="restricted" color="primary">Restricted</mat-slide-toggle>
      </section>
      <div class="buttons">
        <button mat-stroked-button (click)="cancel()" *ngIf="editing && update">
          <mat-icon aria-label="cancel">clear</mat-icon>
        </button>
        <button mat-stroked-button (click)="saveFleet()" *ngIf="editing">
          <mat-icon aria-label="save">check</mat-icon>
        </button>
        <button (click)="editFleet()" *ngIf="!editing && owner" mat-stroked-button>
          <mat-icon aria-label="edit">create</mat-icon>
        </button>
      </div>
    </form>
  </div>
</section>

<ng-template #loading>
  <div fxFlexAlign="center" class="fleet-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
