<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-4">Welcome to EVE-MBS!</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="nav-link" routerLink="home">Home</a>
          <div ngbDropdown *ngIf="user">
            <button class="btn" id="bpDropdown" ngbDropdownToggle>Blueprints</button>
            <div ngbDropdownMenu aria-labelledby="bpDropdown">
              <a class="dropdown-item" ngbDropdownItem routerLink="blueprints/personal">Personal</a>
              <a *ngIf="user.hasRole('director')" class="dropdown-item" ngbDropdownItem
                 routerLink="blueprints/corporate">Corporate</a>
              <a class="dropdown-item" ngbDropdownItem routerLink="blueprints/all">All</a>
            </div>
          </div>
          <div *ngIf="user">
            <a class="nav-link" routerLink="items">Items</a>
          </div>
          <div *ngIf="user">
            <a class="nav-link" routerLink="fleets">Fleets</a>
          </div>
        </div>
        <div *ngIf="user; else login" ngbDropdown>
          <button class="btn" id="userDropdown" ngbDropdownToggle>{{user.name}}</button>
          <div ngbDropdownMenu aria-labelledby="bpDropdown">
            <a class="dropdown-item" ngbDropdownItem (click)="switch()">Switch user</a>
            <a class="dropdown-item" ngbDropdownItem (click)="logout()">Logout</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #login>
  <button class="btn btn-outline-success" routerLink="login">Login</button>
</ng-template>
