<section fxLayout="column" fxFlexAlign="stretch">
  <app-sub-header subTitle="EVE-Tools"></app-sub-header>
  <div fxFlexAlign="center" class="content">
    <p>This application contains various tools for use with EVE-Online. The tools can be accessed through the menu.</p>
    <p>Since most of the tools make use of character data, EVE-Tools requires a login to access the tools.
      Through this login, EVE-Tools can access the required character data.</p>
  </div>
  <!--<mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Material Components">
      <p>We are going to use different material components to create nice looking angular app.</p>
    </mat-tab>
    <mat-tab label="Consume .NET Core Web API">
      <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
    </mat-tab>
    <mat-tab label="Fully responsive navigation menu">
      <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
    </mat-tab>
  </mat-tab-group>-->
</section>
