<div class="row">
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <div *ngIf="blueprints; else loading">
    <input mdbInput type="text" name="text" [(ngModel)]="search"
           id="bpSearch" class="form-control" (keyup)="searchBp()"/>
    <div class="list-group list-group-flush">
      <a *ngFor="let blueprint of displayBlueprints" [ngClass]="blueprintClass(blueprint)"
         [routerLink]="['/blueprint', bpType, blueprint.id]">
        {{blueprint.name}} (ME {{blueprint.materialEfficiency}})
      </a>
    </div>
  </div>

  <ng-template #loading>
    Loading blueprints...
  </ng-template>
</div>
